*, *:before, *:after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

img{
  -webkit-image-rendering: pixelated;
     -moz-image-rendering: pixelated;
          image-rendering: pixelated;
}

.container {
  width: 100%;
  margin: 44px 0;
}
  .main {
    width: 312px;
    margin: 0 auto;
    text-align: center;
  }
    .icon {
      margin-bottom: 20px;
    }
    .title {
      margin-bottom: 20px;
    }
    .eg {
      margin-bottom: 44px;
    }
    .solgan {
      margin-bottom: 20px;
    }
