*, *:before, *:after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

img{
  /* Chrome */
  image-rendering: pixelated;

  /* Safari */
  image-rendering: -webkit-crisp-edges;

  /* Firefox */
  image-rendering: -moz-crisp-edges;

  /* Internet Explorer */
  -ms-interpolation-mode: nearest-neighbor;
}

.container {
  width: 100%;
  margin: 44px 0;
}
  .main {
    width: 312px;
    margin: 0 auto;
    text-align: center;
  }
    .icon { margin-bottom: 20px; }
    .icon img{ width: 72px; }

    .title { margin-bottom: 20px; }
    .title img { width: 20px; }

    .eg { margin-bottom: 44px; }
    .eg img{ width: 312px; }

    .slogan { margin-bottom: 20px; }
    .slogan img{ width: 158px; }

    .mail { }
    .mail img{ width: 28px; }
