@media screen and (max-width: 768px)
  body
    .wrapper
      .header
        height: 470px
        .hero
          .intro
            .icon
            .name
            .desc
          .download
        .device
          .iphone
            .screen

      .main
        .swipe
          display: block
        .features
          display: none

@media screen and (max-width: 1024px)
  body
    .wrapper
      .main
        .features
          zoom: 80%
