@import reset

*
    box-sizing: border-box
    outline: none

html
    &, body, canvas
        width: 100%
        height: 100%
        z-index: -1
    body
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif
        background-color: #FBFCFD

=centerX($width, $mLeft)
    position: absolute
    left: 50%
    margin-left: -($width / 2) + $mLeft

=centerY($height, $mTop)
    position: absolute
    top: 50%
    margin-top: -($height / 2) + $mTop

// canvas

.container
    width: 600px
    height: 460px
    position: absolute
    +centerX(600px,0)
    +centerY(460px,-100px)
    z-index: 1
    text-align: center

    .icon
        width: 240px
        height: 240px
        margin: 0 180px
        filter: drop-shadow(0px 50px 50px rgba(20,70,129,0.1))

    h1
        font-size: 80px
        color: #404040
        margin-top: 50px
        font-weight: 200

    h5
        font-size: 40px
        color: #808080
        margin-top: 20px
        font-weight: 200

.buttons
    position: absolute
    bottom: 100px
    width: 600px
    +centerX(600px,0)
    text-align: center
    z-index: 1
    display: none

    img
        width: 400px

.scale
    transform: scale(0.5)
    &.buttons
        width: 1000px
        +centerX(1000px,0)
        .android
            margin-left: 100px




