html(lang="en")
    head
        title Hydro
        meta(charset="UTF-8")
        meta(name="description", content="155 characters goes here")
        meta(name="keywords", content="Blah,Blah,Blah")
        meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1")
        link(href="favicon.ico", rel="shortcut icon", type="image/x-icon")
        link(href="./css/style.css", rel='stylesheet')
    body
        div(id="container")
            img(src="./images/logo.svg")
            h1 Hydro
            a(id="download" href="/")
        div(id="background")
        //- script(src="./js/script.js")